# 2025-07-27
<p>
  new thing on the list of things todo: make my website put posts on separate
  pages and let you see one paragraph when on this page. <br />
  i need to update <a href="https://diced.0000727.xyz/ssg-docs">diced-ssg</a> to
  do this<br />
</p>

# 2025-07-27
<h1>the unspoken openxr vendor extension</h1>
<p><b>XR_MNDX_xdev_space</b></p>
<p>
  have you ever heard of this<br />
  probably not, because there is less than a page of google search results when
  you search it up.<br />
  from what i understand, its an openxr extension for generic trackers in xr
  like vive trackers.<br />
  <a href="https://github.com/LordOfDragons/dragengine/issues/21"
    >this is the only proof</a
  >
  i've seen of its existence outside of people asserting that it exists<br />
  today i join the internet canon of websites mentioning
  <b>XR_MNDX_xdev_space</b><br />
  not even khronos group's website mentions this even though they are literally
  the creators of the openxr specification<br />
</p>
<p>
  yeah uh i encountered this trying to figure out how to get fbt working in a
  bevy xr app i was making. i wanted to make a vr ddr pad as an open xr overlay
  to use while in vrchat. turns out bevy xr doesn't support fbt and you have to
  write in support yourself, and monado / wivrn on linux supposedly only use the
  <code>XR_MNDX_xdev_space</code> extension instead of using
  <code> XR_HTCX_vive_tracker_interaction </code> because why not i guess. why
  use the standard vendor extension for vive trackers when you can make a new
  one
</p>
<p>
  this is what i get for trying to develop xr apps on linux. well also i haven't
  seen any way to make a open xr overlay in unity anyways so i'd still either
  need to use raw open xr or bevy xr. contact me on discord at
  <b>dicedmangoes</b> if you know how to do it in unity or godot
</p>

# 2025-07-24
<h1>emacs in 2025</h1>
<p>
  Emacs may not be the shiniest text editor these days but its pretty nice to
  use. you can create some pretty fancy configs, and org mode is definitely the
  best note taking tool out there.
</p>
<p>
  Maybe its not the best code editor, but for some programming languages like
  <code>nix</code> or <code>lisp</code>, it can feel better than VSCode. Its
  also great when you want to be closer to the terminal, rather than abstracting
  actions into button presses.
</p>
<p>
  If you hypothetically only had a phone to code on, emacs is a great "ide" for
  terminal only. Although its a little heavy compared to neovim, it also does
  more than neovim.
</p>

# 2025-06-25
<h1>I HATE ARCH LINUX</h1>
<p>despite arch linux being my main distro</p>
<p>i hate it so much</p>
<h2>so basically...</h2>
<p>
  arch linux updated how they handle linux-firmware
  <a
    href="https://archlinux.org/news/linux-firmware-2025061312fe085f-5-upgrade-requires-manual-intervention/"
    >link</a
  >
  <br />so they refactored how the packages were managed and now we need to
  manually uninstall and reinstall the <code>linux-firmware</code> package.
</p>
<h2>massive problem is</h2>
<p>im stupid, i forgot to reinstall it</p>
<p>
  this lead to a massive headache where I didn't have intel firmware or realtek
  firmware so I didn't have internet or graphics.
</p>
<p>
  so I had to <code>chroot</code> into my laptop and remove the gdm display
  manager so that I could go to tty. in tty after installing sway and i3 I
  noticed I had no wifi, so I decided to use NetworkManager's <code>nmtui</code>
  to figure out the problem
</p>
<p>
  <code>nmtui</code> showed me that i had no wifi hardware, so i checked if i
  had linux-firmware, and i realized i forgot to reinstall it.<br />
</p>
<p>
  oops
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2Fc9a27e0a-52f7-4cec-a932-b6246308a58e%2Fdfnukjz-0f4dc473-62cc-473c-8ee8-e1a01f5787f6.png%2Fv1%2Ffill%2Fw_894%2Ch_894%2Fshrug_emoji_by_j0j0999ozman_dfnukjz-pre.png%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIxNSIsInBhdGgiOiJcL2ZcL2M5YTI3ZTBhLTUyZjctNGNlYy1hOTMyLWI2MjQ2MzA4YTU4ZVwvZGZudWtqei0wZjRkYzQ3My02MmNjLTQ3M2MtOGVlOC1lMWEwMWY1Nzg3ZjYucG5nIiwid2lkdGgiOiI8PTEyMTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ov_-92-zblWE_TpUPGmmN7GuoFgUhcnpPJcnWbaypFA&f=1&nofb=1&ipt=cc61fdcc45501e7903d531115e80619e832eded163c15a13cb498b17063fd6ab"
    class="emoji"
  />
</p>

# 2025-06-20 mario kart world is so peak <br />
the tracks are some of the best in the series <br />
the tech is so good <br />
its weird how mechanically deep rails are, hopping onto rails takes skill <br />
staying on rails is risky when its easy to get bumped off from someone drafting
you <br />
airship fortress is practically a whole new track when you spend half of it on
rails<br />

# 2025-06-20 ok im trying to make a pixel art -> voxel thing and it appears that
you can't make a voxel model for every possible set of 6 images for the 6
viewing angles of a model <br />
maybe instead i'll just make a voxel editor that is easy to use <br />
i really want to make my own version of mario kart, im putting ppte on hiatus
<br />
and i need a bunch of 3d models to make a mario kart, so thats why im making a
voxel maker # 2025-06-02 only 3 days until mario kart world!!! # 2025-05-30 ...
why does megaman zero's ost cost more than mario kart world
<p><img src="megaman.png" /></p>

# 2025-05-30 if you can include arbitrary circuits on an nes cartridge, could
you have fit a snes on a nes cartridge # 2025-06-03 2 days until switch 2<br />
in 2 days i will go to <b>costco</b> at the opening<br />
hopefully they will have switch 2's and not sell out immediately<br />
cant believe its almost here<br />
last year i predicted it would launch last summer. it did not<br />
well at least i was only 1 year off, got the season right<br />

# 2025-06-03 i want to rewrite <b>diced-ssg</b> in rust<br />
theres no performance issues so far but i would like it to scale to a larger
site easily<br />
you can still run python code in rust with pyo3<br />
so my hacky solution to writing python on html should still be doable<br />

# 2025-06-06 really stupid idea but hear me out<br />
steering wheel input for pc using a nintendo 3ds, use the 3ds gyro for wheel
position<br />
TODO next week<br />
