# 2025-6-2
only 3 days until mario kart world!!!

# 2025-5-30
... why does megaman zero's ost cost more than mario kart world
<p><img src="megaman.png"></p>

# 2025-5-30
if you can include arbitrary circuits
on an nes cartridge, could you have fit a snes on a nes cartridge

# 2025-6-3
2 days until switch 2<br>
in 2 days i will go to <b>costco</b> at the opening<br>
hopefully they will have switch 2's and not sell out immediately<br>
cant believe its almost here<br>
last year i predicted it would launch last summer. it did not<br>
well at least i was only 1 year off, got the season right<br>

# 2025-6-3
i want to rewrite <b>diced-ssg</b> in rust<br>
theres no performance issues so far but i would like it to scale 
to a larger site easily<br>
you can still run python code in rust with pyo3<br>
so my hacky solution to writing python on html should still 
be doable<br>

# 2025-6-6
really stupid idea but hear me out<br>
steering wheel input for pc using a nintendo 3ds, use the 3ds gyro for wheel position<br>
TODO next week<br>