!::import showerthoughts; global custom; custom = showerthoughts.post::

<div class="block-head">sorted::begin::"sort-command":"_list.sort(reverse=True)"::</div>
?::custom("2025-6-2", "only 3 days until mario kart world!!!")::

?/::custom("2025-5-30", """
if you can include arbitrary circuits
on an nes cartridge, could you have fit a snes on a nes cartridge
""")::/?

?/::custom("2025-5-30", """
2025-5-30: ... why does megaman zero's ost cost more than mario kart world
<p><img src="megaman.png"></p>
""")::/?
<div class="block-head">sorted::end::</div>