<div class="block-head">sorted::begin::"sort-command":"_list.sort(reverse=True)"::</div>
<p class="sorted-element">2025-6-2: only 3 days until mario kart world!! </p>
<p class="sorted-element">2025-5-30: if you can include arbitrary circuits
    on an nes cartridge, could you have fit a snes on a nes cartridge</p>
<p class="sorted-element">
    2025-5-30: ... why does megaman zero's ost cost more than mario kart world
<p><img src="megaman.png"></p>
</p>
<div class="block-head">sorted::end::</div>